body {
    font-family: 'Times New Roman', serif;
    background-color: #f2f2f2;
    color: #333;
}

h1, h2 {
    color: #0073e6;
    font-family: Arial, sans-serif;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
}

a {
    color: #0073e6;
}
