body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b550b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: left;
    margin-right: auto;
}

#header-logo {
    max-height: 70px;
    width: 60px;
    position: relative;
    top: 10px;
    right: 10px;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    margin: 80px;
}

#hero {
    background: #0b5341;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#hero button {
    background: #fff;
    color: #0073e6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#hero button:hover {
    background: #f2f2f2;
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.feature {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: #20253e;
    border-radius: 10px;
}

#weather-data {
    background: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 50px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #052241; /* Button background color */
    color: #ffffff; /* Button text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0b2e54; /* Background color on hover */
}


footer {
    background-color: #0a310d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
